{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}


<h1>Login..</h1>
<br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="col-4">
            
        <label for="un">Username:</label>
        <input type="text" name="un" id="un" class="form-control">

        
        <label for="ps">Password:</label>
        <input type="password" name="ps" id="ps" class="form-control">
        <br>
        <input type="submit" value="Login" class="btn btn-primary form-control">
        </div>
         
        
    </form>
</div>

{% endblock %}